@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.App {
  height: 100vh;
  background: url(../public/background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  margin: 25px 0 40px 0;
  font-family: "Lobster", cursive;
  font-size: 60px;
  color: #be29ef;
  text-shadow: 3px 3px white;
}

.container {
  display: grid;
  grid-template-columns: 72% auto;
  width: 100%;
}

.camera {
  margin-left: 60px;
}

#dataTest {
  background-color: #ba8bdb;
  padding: 33px 14px 14px 14px;
  border-radius: 8px;
}

.resultContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 60px;
  text-align: center;
}

.resultBox {
  background-color: #ba8bdb;
  border: 2px solid black;
  width: 100%;
  border-radius: 10px;
  color: white;
}

#resultHeader {
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.resultBody {
  background-color: #ebe8f5;
  padding-top: 20px;
  height: 370px;
  border-radius: 10px;
  color: black;
}

#textResult {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
}

#textResult::first-letter {
  text-transform: capitalize;
}

#btnCheck {
  background-color: #ba8bdb;
  color: white;
  padding: 14px 0 14px 0;
  width: 100%;
  font-size: 30px;
  border-radius: 200px;
  border: none;
  margin-top: 70px;
  font-weight: 500;
}
